Repository Yurickh/reduce-workshop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext js,jsx,ts,tsx

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,md}": ["prettier --write", "git add"],
  "*.{ts,tsx,js,jsx}": ["eslint --ext js,jsx,ts,tsx"]
}

✨ Add fetch-all
  use-cases/__tests__/fetch-all.test.js
  use-cases/fetch-all.js
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🔥 Remove vulnerability
  package.json
  yarn.lock
Due: prettier --write

📦 Move to latest babel
  .babelrc
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

Update dependencies that depend on js-yaml
  package.json
  yarn.lock
Due: prettier --write

Update dependencies that depend on handlebars
  yarn.lock
Due: none

✨ Add second wave of answers
  use-cases/__tests__/find-item.test.js
  use-cases/find-item.js
  use-cases/just-sagitarians.js
  use-cases/max-square.js
  use-cases/normalize-name.js
  use-cases/remove-underage.js
Due: prettier --write, eslint --ext js,jsx,ts,tsx

✨ Add contributor's answers!
  use-cases/__tests__/reduce-usage.test.js
  use-cases/delete-task.js
  use-cases/find-item.js
  use-cases/just-sagitarians.js
  use-cases/max-square.js
  use-cases/normalize-name.js
  use-cases/remove-underage.js
  use-cases/url-builder.js
  use-cases/whitespace.js
Due: prettier --write, eslint --ext js,jsx,ts,tsx

🐛 Use actual whitespace
  use-cases/__tests__/whitespace.test.js
  use-cases/whitespace.js
Due: prettier --write, eslint --ext js,jsx,ts,tsx

Upgrade lodash-dependent dependencies
  package.json
  yarn.lock
Due: prettier --write
